<app-header titulo="REGISTRO"></app-header>

<ion-content>


    <ion-tabs>

        <ion-tab-bar slot="buttom">

            <ion-tab-button tab="familiar">
                <ion-icon src="./assets/svg/people-arrows-solid.svg"></ion-icon>
                <ion-label>Familiar</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="estudiante">
                <ion-icon src="./assets/svg/user-graduate-solid.svg"></ion-icon>
                <ion-label>Estudiante</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="alex">
                <ion-icon src="./assets/svg/app-store-ios-brands.svg"></ion-icon>

                <ion-label>Estudiante</ion-label>
            </ion-tab-button>

        </ion-tab-bar>

    </ion-tabs>


</ion-content>